@import "./../../common.scss";

.fadeOut {
    opacity: 1;
    visibility: visible;
    animation: FadeAnimation 1.5s ease-in 1.25s forwards;
}

.fadeOut2 {
    opacity: 1;
    visibility: visible;
    animation: FadeAnimation2 1.5s ease-in 1.25s forwards;
}

.register-form {
    width: 300px;
    margin: 160px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */
    z-index: 1;
    
    div {
        text-align: center;
    }
    
    /* Styles */
    @include box-and-shadow;

    .backButton {
        position: relative; /* For the icon positioning */
        left: 0px;
        margin: 0 0 24px 4px;
        height: 28px;
        width: 28px;
        padding: 4px;
        border-radius: 50%;
        background: $white;
        cursor: pointer;
        @include box-and-shadow;
        &:hover {
            background-color: $color-hover-light;
        }
    }

    .field {
        position: relative; /* For the icon positioning */

        img {
            /* Size and position */
            padding: 2px 0 2px 0;
            margin-top: 8px;
            left: 0px;
            top: 0px;
            position: absolute;
            height: 30px;
            width: 30px;
        
            /* Line */
            border-right: 1px solid $shadow-1;
            box-shadow: 1px 0 0 $shadow-4;
        }
    }

    .input {
        /* Fonts and Text */
        font-family: $lato-font;
        font-size: 13px;
        font-weight: 400;
        text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    
        /* Size and position */
        width: 80%;
        padding: 10px 18px 10px 45px;
        margin-top: 8px;
    
        /* Styles */
        @include box-and-shadow-light;
        border: none; /* Remove the default border */
        border-radius: 5px;
        background: #f9f9f9;
        color: #777;
        transition: color 0.3s ease-out;

        &:hover {
            background-color: $color-hover-light;
        }
    }

    button {
        /* Size and position */
        width: 100%;
        height: 100%;
        margin-top: 12px;
    
        /* Icon styles */
        font-size: 1.2em;
        line-height: 1.75;
        color: $shadow-2;
    
        /* Styles */
        border: none;
        border-radius: 5px;
        background: linear-gradient($colour-4-nine, $colour-4);
        box-shadow: 
            inset 0 1px 0 $shadow-6,
            0 1px 2px $shadow-1,
            inset 0 3px 2px $shadow-5,
            inset 0 -3px 2px $shadow-1;
    
        cursor: pointer;

        &:hover {
            color: $color-hover;
        }
    }

    a {
        font-family: $lato-font;
        font-size: $med-text;
    }
}
