.toast {
  margin-top: 24px;
  color: #7189FF; }

@-webkit-keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@-webkit-keyframes FadeAnimation2 {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes FadeAnimation2 {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  35% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  85% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pop {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  35% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  85% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes shadow-drop-bottom {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35); } }

@keyframes shadow-drop-bottom {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35); } }

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@-webkit-keyframes tracking-out-contract {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    letter-spacing: -0.5em;
    opacity: 0; } }

@keyframes tracking-out-contract {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    letter-spacing: -0.5em;
    opacity: 0; } }

.dropZoneTitle {
  text-align: center;
  font-size: 24px;
  color: #7189FF;
  margin: 160px 0 32px 0; }

.display {
  left: 0;
  right: 0;
  margin: -18px auto;
  position: relative;
  text-align: center;
  z-index: 1; }
  .display .fadeOut {
    opacity: 1;
    visibility: visible;
    -webkit-animation: FadeAnimation 1.5s ease-in 1.25s forwards;
    animation: FadeAnimation 1.5s ease-in 1.25s forwards; }
  .display .fadeOut2 {
    opacity: 1;
    visibility: visible;
    -webkit-animation: FadeAnimation2 1.5s ease-in 1.25s forwards;
    animation: FadeAnimation2 1.5s ease-in 1.25s forwards; }
  .display .button {
    /* Size and position */
    margin-top: 28px;
    width: 98px;
    height: 48px;
    /* Icon styles */
    font-size: 18px;
    line-height: 1.75;
    color: white;
    /* Styles */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(113, 137, 255, 0.9)), to(#7189FF));
    background: -webkit-linear-gradient(rgba(113, 137, 255, 0.9), #7189FF);
    background: -o-linear-gradient(rgba(113, 137, 255, 0.9), #7189FF);
    background: linear-gradient(rgba(113, 137, 255, 0.9), #7189FF);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 3px 2px rgba(255, 255, 255, 0.3), inset 0 -3px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 3px 2px rgba(255, 255, 255, 0.3), inset 0 -3px 2px rgba(0, 0, 0, 0.3); }
    .display .button:hover {
      color: #bbb; }

.drop-zone {
  width: 80%;
  height: 200px;
  margin: 0px auto 30px auto;
  position: relative;
  /* For the submit button positioning */
  text-align: center;
  cursor: pointer;
  z-index: 1; }
  .drop-zone a {
    font-family: "Lato", Calibri, Arial, sans-serif;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
  .drop-zone div {
    /* Size & position */
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), inset 0 1px white, inset 0 -3px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), inset 0 1px white, inset 0 -3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from("empty"), color-stop(10%, #ffffff));
    background: -webkit-linear-gradient("empty", #ffffff 10%);
    background: -o-linear-gradient("empty", #ffffff 10%);
    background: linear-gradient("empty", #ffffff 10%);
    height: 100%;
    width: 100%;
    background-color: #C1CEFE;
    border: 1px solid #C1CEFE;
    font-family: "Lato", Calibri, Arial, sans-serif;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
    .drop-zone div img {
      margin-top: 5%;
      height: 72px;
      width: 56x; }
