@import './../../common.scss';

.footer {
    @include box-and-shadow-light;
    background: $colour-7;
    padding: 4px 0 4px 0;
    position: absolute;
    // height: 120px;
    bottom: 0;
    width: 100%;
    z-index: 50;

    .left-footer{
        width: 50%;
        float: left;
    }

    .right-footer{
        width: 50%;
        float: right;
    }

    .footer-item{
        font-size: $med-text;
        color: $shadow-2;
        text-decoration: underline;
    }
}