
// Colours
$colour-1: #A0DDFF;
$colour-2: #758ECD;
$colour-3: #C1CEFE;
$colour-3-nine: rgba(193, 206, 254, 0.9);
$colour-4: #7189FF;
$colour-4-nine: rgba(113, 137, 255, 0.9);
$colour-5: #624CAB;
$colour-6: 'empty';
$colour-7: #000927;

$white: #ffffff;
$color-hover: #bbb;
$color-hover-light: rgb(236, 236, 236);

$shadow-1: rgba(0, 0, 0, 0.3);
$shadow-2: rgba(255,255,255,1);
$shadow-3: rgba(0,0,0,0.25);
$shadow-4: rgba(255, 255, 255, 0.2);
$shadow-5: rgba(255,255,255,0.3);
$shadow-6: rgba(255,255,255,0.2);

// Gradients
$gradient-ten: 10%;

// Weights
$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

// Borders
$thick-border:   8px solid black;
$light-border:   1px solid $colour-3;

// Fonts11
$lato-font:     "Lato", Calibri, Arial, sans-serif;
$times-font:    "Times New Roman", Times, serif;
$palatino-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$arial-font:    Arial, Helvetica, sans-serif;
$tahoma-font:   Tahoma, Geneva, sans-serif;

// Font size
$small-text:      8px;
$small-high-text: 12px;
$small-med-text:  13px;
$med-text:        15px;
$med-high-text:   18px;
$med-home-text:   24px;
$high-home-title: 56px;

// Common classes
.toast {
    margin-top: 24px;
    color: #7189FF; 
}

// Box with shadows
@mixin box-and-shadow {
    box-shadow: 
        0 0 1px $shadow-1, 
        0 3px 7px $shadow-1, 
        inset 0 1px $shadow-2,
        inset 0 -3px 2px $shadow-3;
    border-radius: 5px;
    background: linear-gradient($colour-6, $white $gradient-ten); 
};

@mixin box-and-shadow-button {
    box-shadow: 
        0 0 1px $shadow-1,
        0 3px 7px $shadow-1, 
        inset 0 -3px 2px $shadow-3;
    border-radius: 5px;
    background: linear-gradient($colour-6, $white $gradient-ten); 
};

@mixin box-and-shadow-dropDown {
    box-shadow: 
    inset 0 0 5px rgba(0,0,0,0.1),
    inset 0 3px 2px rgba(0,0,0,0.1);
    box-shadow: 
        0 0 1px $shadow-1,
        0 3px 7px $shadow-1,
        inset 0 -3px 2px $shadow-3,
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 5px;
    background: linear-gradient($colour-6, $white $gradient-ten); 
};

@mixin box-and-shadow-light {
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
}


// Animations
@mixin fade-in-animation {
    .fade-appear {
        opacity: 0;
        z-index: 1;
    }
    .fade-appear.fade-appear-active {
        opacity: 1;
        transition: 
            opacity 300ms linear;
    }
}

@keyframes FadeAnimation {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
  
@keyframes FadeAnimation2 {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes pop {
    0% {
      transform: scale(1);
    }
    35% {
        transform: scale(1.1);
      }
    85% {
      transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes shadow-drop-bottom {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}

@keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
}

@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
  

